<div class="socials">
  <a class="socials__item" href="https://www.youtube.com/@maximisdriving" target="_blank">
    <img class="socials__icon" src="/assets/images/youtube.svg" alt="Канал на Youtube" />
  </a>
  <a class="socials__item" href="https://t.me/maximisdriving" target="_blank">
    <img class="socials__icon" src="/assets/images/telegram.svg" alt="Канал в Telegram" />
  </a>
  <a class="socials__item" href="https://vk.com/maximisdriving" target="_blank">
    <img class="socials__icon" src="/assets/images/vk.svg" alt="Группа в ВК" />
  </a>
</div>
