@use 'sass:map';

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 1160px,
);

@mixin media($bp) {
  @media screen and (min-width: map.get($breakpoints, $bp)) {
    @content;
  }
}

@mixin touch {
  @media (pointer: coarse) {
    @content;
  }
}

@mixin scrollbar(
  $foregroundColor: rgba(#fff, 0.05),
  $backgroundColor: transparent
) {
  &::-webkit-scrollbar-thumb {
    background: $foregroundColor;
  }
  &::-webkit-scrollbar-track {
    background: $backgroundColor;
  }

  scrollbar-color: $foregroundColor $backgroundColor;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}
