<div class="banner-mobile banner-mobile_outlined">
  <h3 class="banner-mobile__title">Ближайшие поездки</h3>
  <ul class="banner-mobile__list">
    {% for item in future_travels %}
      <li class="banner-mobile-item">
        <div class="date date_future">{{ item.dates }}</div>
        {{ item.route }}
      </li>
    {% endfor %}
  </ul>
  <p class="banner-mobile__desc">
    Хотите поехать с нами? <a href="/join/">Присоединяйтесь!</a>
  </p>
</div>
