{% extends "layouts/default.njk" %}

{% block aside_left %}
<div class="side-block-wrapper side-block-wrapper_scrollable">
  <div class="side-block-wrapper__inner">
    {% include 'side_blocks/travels.njk' %}
    {% include 'side_blocks/future_travels.njk' %}
  </div>
</div>
{% endblock aside_left %}

{% block aside_right %}
<div class="side-block-wrapper side-block-wrapper_scrollable">
  <div class="side-block-wrapper__inner">
    {% include 'side_blocks/more_info.njk' %}
    {% include 'side_blocks/socials.njk' %}
  </div>
</div>
{% endblock aside_right %}

{% block breadcrumbs %}
<div class="page__breadcrumbs">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="/">Главная страница</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="/travels/">Поездки</a>
    </li>
    <li class="breadcrumbs__item">
      {{ title }}
    </li>
  </ul>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="post">
  <div class="date post__date">{{ date | monthAndYear }}</div>
  <h1 class="h h_lvl_1">{{ title }}</h1>
  {{ content | safe }}
  {%if related.length > 0 %}
    <div class="post__related">
      <h2 class="h h_lvl_1">Куда еще съездить?</h2>
      <ol class="posts-list">
        {% for post in related %}
          <li class="post-item">
            <a class="post-item__link" href="{{ post.url | url }}">
              <div class="post-item__top">
                {% image_background post.data.cover, 'post-item__picture' %}
                <div class="post-item__meta">
                  <span class="post-type post-type_travel">Отчет</span>
                  {% if post.data.date %}
                    <div class="post-item__additional">
                      <span class="post-additional">{{ post.data.date | monthAndYear }} г.</span>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="post-item__title">
                {{ post.data.title }}
              </div>
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  {% endif %}
</div>

{% endblock content %}
