<section class="side-block side-block-wrapper__item">
  <div class="side-block__main">
    <h3 class="side-block__title">Ближайшие поездки</h3>
    <ol class="side-list">
      <li class="side-list-item side-list__item">
        <div class="date date_future side-list-item__date">
          20.07.2024 — 03.08.2024
        </div>
        <div>
          Ярославль — Грозный — Избербаш
        </div>
      </li>
      <li class="side-list-item side-list__item">
        <div class="date date_future side-list-item__date">
          08.08.2024 — 12.08.2024
        </div>
        <div>
          Ярославль — Кемь — о.Соловетский
        </div>
      </li>
    </ol>
  </div>
  <p class="side-block__desc">Хотите поехать с нами? <a href="/join/">Присоединяйтесь!</a></p>
</section>
