<section class="side-block side-block-wrapper__item">
  <div class="side-block__main">
    <h3 class="side-block__title">Ближайшие поездки</h3>
    <ol class="side-list">
      {% for item in future_travels %}
        <li class="side-list-item side-list__item">
          <div class="date date_future side-list-item__date">
            {{ item.dates }}
          </div>
          <div>
            {{ item.route }}
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>
  <p class="side-block__desc">Хотите поехать с нами? <a href="/join/">Присоединяйтесь!</a></p>
</section>
