---
title: Полезное
layout: layouts/list.njk
---

<ol class="posts-list">
  {% for post in collections.helpful %}
    <li class="post-item">
      <a class="post-item__link" href="{{ post.url | url }}">
        <div class="post-item__top">
          {% image_background post.data.cover, 'post-item__picture' %}
          <div class="post-item__meta">
            <span class="post-type post-type_article">Статья</span>
          </div>
        </div>
        <div class="post-item__title">
          {{ post.data.title }}
        </div>
      </a>
    </li>
  {% endfor %}
</ol>
