---
title: Главная страница
---

<div class="main-page">
  <section class="main-about-section">
    <div class="main-about-section__photo">
      {% image 'src/assets/images/photo.jpg', 'Я за рулем' %}
    </div>
    <div class="main-about-section__info">
      <h1 class="visually-hidden">О проекте</h1>
      <p class="text-important">
        Привет! Меня зовут <a href="https://maximpavlov.su" target="_blank">Максим Павлов</a>. Я много путешествую вместе с семьей на автомобиле. Этот сайт я создал, чтобы <mark>делиться отчетами о наших поездках, маршрутах и другой полезной информацией</mark>.
      </p>
    </div>
  </section>
  <section>
    <h2 class="visually-hidden">Это некоммерческий проект</h2>
    <p>Обращаю ваше внимание, что <em>«Максим рулит»</em> — <strong>некоммерческий проект</strong>. Я не стремлюсь заработать на этом деньги. Моя цель — показать людям, что можно бюджетно и интересно путешествовать по нашей стране на своем автомобиле. И, если повезет — найти интересных попутчиков и отправиться в путешествие вместе.</p>
  </section>
  <section class="main-join-section">
    <h2 class="h h_lvl_2">Поехать с нами</h2>
    <p>Также с помощью этого сайта мы хотим найти интересных попутчиков.</p>
    <p>Всю необходимую информацию мы собрали на странице:</p>
    <div>
      <a class="button" href="/join/">Поехать с нами!</a>
    </div>
  </section>
  <section class="main-socials-section">
    <h2 class="h h_lvl_2">Сообщество в социальных сетях</h2>
    <div class="socials main-socials-section__links">
      <a class="socials__item" href="https://www.youtube.com/@maximisdriving" target="_blank">
        <img class="socials__icon" src="/assets/images/youtube.svg" alt="Канал на Youtube" />
      </a>
      <a class="socials__item" href="https://t.me/maximisdriving" target="_blank">
        <img class="socials__icon" src="/assets/images/telegram.svg" alt="Канал в Telegram" />
      </a>
      <a class="socials__item" href="https://vk.com/maximisdriving" target="_blank">
        <img class="socials__icon" src="/assets/images/vk.svg" alt="Группа в ВК" />
      </a>
    </div>
  </section>
  <section class="main-thanks-section">
    <h2 class="h h_lvl_2">Благодарности</h2>
    <p>Я благодарен своей жене и дочери, что они путешествуют вместе со мной и с огромным энтузиазмом разделяют мои, порой — безбашенные, идеи.</p>
    <p>Идея создания каналов в социальных сетях и покупки <em>GoPro</em> принадлежит Милане Гайдук.</p>
    <p>Автор названия сообщества — Ирина из г. Рига.</p>
  </section>
</div>
