---
title: Главная страница
---

<div class="main-page">
  <section class="main-about-section">
    <div class="main-about-section__photo">
      {% image 'src/assets/images/photo.jpg', 'Я за рулем' %}
    </div>
    <div class="main-about-section__info">
      <h1 class="visually-hidden">О проекте</h1>
      <p class="text-important">
        Привет! Меня зовут <a href="https://maximpavlov.su" target="_blank">Максим Павлов</a>. Я много путешествую вместе с семьей на автомобиле. Этот сайт я создал, чтобы <mark>делиться отчетами о наших поездках, маршрутах и другой полезной информацией</mark>.
      </p>
    </div>
  </section>
  <section>
    <h2 class="visually-hidden">Это некоммерческий проект</h2>
    <p class="text-important">Обращаю ваше внимание, что <em>«Максим рулит»</em> — <strong>некоммерческий проект</strong>. Я не стремлюсь заработать на этом деньги. Моя цель — показать людям, что можно <mark>бюджетно и интересно путешествовать по нашей стране на своем автомобиле</mark>. И, если повезет — найти интересных попутчиков и отправиться в путешествие вместе.</p>
  </section>
  <section class="main-join-section">
    <h2 class="h h_lvl_2">Поехать с нами</h2>
    <p>Также с помощью этого сайта мы хотим найти интересных попутчиков.</p>
    <p>Всю необходимую информацию мы собрали на странице:</p>
    <div>
      <a class="button" href="/join/">Поехать с нами!</a>
    </div>
  </section>
  <section class="main-materials-section">
    <h1 class="h h_lvl_1">Свежие материалы</h1>
    <ol class="posts-list">
      {% for post in collections.index %}
        {% if post.data.type == 'travel' %}
          <li class="post-item">
            <a class="post-item__link" href="{{ post.url | url }}">
              <div class="post-item__top">
                {% image_background post.data.cover, 'post-item__picture' %}
                <div class="post-item__meta">
                  <span class="post-type post-type_travel">Отчет</span>
                  {% if post.data.date %}
                    <div class="post-item__additional">
                      <span class="post-additional">{{ post.data.date | monthAndYear }} г.</span>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="post-item__title">
                {{ post.data.title }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if post.data.type == 'route' %}
          <li class="post-item">
            <a class="post-item__link" href="{{ post.url | url }}">
              <div class="post-item__top">
                {% image_background post.data.cover, 'post-item__picture' %}
                <div class="post-item__meta">
                  <span class="post-type post-type_route">Маршрут</span>
                  <div class="post-item__additional">
                    {% if post.data.isoneday == true %}
                      <span class="post-additional">Однодневный маршрут</span>
                    {% else %}
                      <span class="post-additional">Многодневный маршрут</span>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="post-item__title">
                {{ post.data.title }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if post.data.type == 'helpful' %}
          <li class="post-item">
            <a class="post-item__link" href="{{ post.url | url }}">
              <div class="post-item__top">
                {% image_background post.data.cover, 'post-item__picture' %}
                <div class="post-item__meta">
                  <span class="post-type post-type_article">Статья</span>
                </div>
              </div>
              <div class="post-item__title">
                {{ post.data.title }}
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </section>
  <section class="main-socials-section">
    <h2 class="h h_lvl_2">Социальные сети</h2>
    <div class="socials main-socials-section__links">
      <a class="socials__item" href="https://www.youtube.com/@maximisdriving" target="_blank">
        <img class="socials__icon" src="/assets/images/youtube.svg" alt="Канал на Youtube" />
      </a>
      <a class="socials__item" href="https://t.me/maximisdriving" target="_blank">
        <img class="socials__icon" src="/assets/images/telegram.svg" alt="Канал в Telegram" />
      </a>
      <a class="socials__item" href="https://vk.com/maximisdriving" target="_blank">
        <img class="socials__icon" src="/assets/images/vk.svg" alt="Группа в ВК" />
      </a>
    </div>
  </section>
  <section class="main-thanks-section">
    <h2 class="h h_lvl_2">Благодарности</h2>
    <p>Я благодарен своей <strong>жене и дочери,</strong> что они путешествуют вместе со мной и с огромным энтузиазмом разделяют мои, порой — безбашенные, идеи.</p>
    <p>Идея создания каналов в социальных сетях и покупки <em>GoPro</em> принадлежит <strong>Милане Гайдук</strong>.</p>
    <p>Автор названия сообщества — <strong>Ирина из г. Рига.</strong></p>
  </section>
</div>
