---
title: Поехать с нами
---

<p>Мы начинаем все поездки из Ярославля.</p>
<ul>
  <li>Вы <strong>неконфликтные, жизнерадостные и активные</strong></li>
  <li>Вы уверены в своем автомобиле, регулярно его обслуживаете и если он сломается — сможете его починить</li>
  <li>Ваш водительский опыт и квалицикация позволяют вам ехать быстро по двухполосной дороге (выполнять обгоны и т. д.)</li>
</ul>

<p>Подробнее про нашу <a href="/team/">команду</a>.</p>
<p>Для того, чтобы <strong>присоединиться к нам</strong> — напишите мне в <a href="https://t.me/ifelseapps">Telegram</a>.</p>

<h2 class="h h_lvl_2">Ближайшие поездки</h2>
<table>
  <thead>
    <th>Маршрут</th>
    <th>Даты</th>
    <th>Статус</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>Ярославль — Грозный (экскурсия по горам Чечни и Дагестана) — Избербаш</p>
        <p><a href="/routes/multiday/chechnya-dagestan/">Подробнее о маршруте</a></p>
      </td>
      <td>20.07.2024 — 03.08.2024</td>
      <td><span class="text-done">Группа собрана</span></td>
    </tr>
    <tr>
      <td>
        <p>Ярославль — Кемь (Рабочеостровск) — Соловецкие острова</p>
        <p><a href="/routes/solovki/">Подробнее о маршруте</a></p>
      </td>
      <td>08.08.2024 — 12.08.2024</td>
      <td><span class="text-done">Группа собрана</span></td>
    </tr>
  </tbody>
</table>
