---
title: Команда
layout: layouts/official.njk
---

<p>Основной костяк нашей команды — моя семья:</p>
<ul>
  <li><strong>Максим (это я)</strong> — идейный вдохновитель и основной водитель. Фонтанирую идеями, прокладываю маршруты. Суперспособность — могу рулить по 20 часов в сутки</li>
  <li><strong>Гюлара</strong> — моя жена, бессменный штурман и второй водитель. В отличие от меня — спокойная и рассудительная. Суперспособность — виртуозно владеет картами</li>
  <li><strong>Милана</strong> — наша дочь</li>
</ul>

<p>{% image 'src/assets/images/family.jpg', 'Наша команда' %}</p>

<p>Наш автомобиль — <strong>Lada Vesta SW</strong> (с двигателем 1.6 и мощностью 106 л/с).</p>
<p>{% image 'src/assets/images/car.jpg', 'Наш автомобиль' %}</p>
