@import 'mixins';

$containerMaxWidth: 600px;
$contentVerticalMargin: 2.8em;

.container {
  flex: none;
  width: 100%;
  max-width: $containerMaxWidth;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__content {
  display: flex;
  gap: 1em;
  margin: $contentVerticalMargin 0;
}

.page__breadcrumbs {
  margin-bottom: 1em;
}

.page__main {
  margin: 0;
}

.page__side {
  display: none;
  @include media(lg) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: none;
    width: calc((100% - $containerMaxWidth - 2em) / 2);
  }
}

.page__footer {
  margin-top: auto;
}

.side-block-wrapper {
  position: relative;
  width: 70%;
  height: 100%;
}

.side-block-wrapper__item:last-child {
  position: sticky;
  top: $contentVerticalMargin;
  left: 0;
}

.side-block-wrapper__inner {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.side-block-wrapper_scrollable .side-block-wrapper__inner {
  position: sticky;
  top: $contentVerticalMargin;
  left: 0;
  height: calc(100vh - $contentVerticalMargin);
  overflow-y: auto;
  @include scrollbar();
}

.side-block-wrapper_scrollable .side-block-wrapper__item:last-child {
  position: static;
}

.side-block {
  font-size: 0.9rem;
  line-height: 1.4em;
}

.side-block__main {
  border: solid 1px #424242;
  border-radius: 5px;
}

.side-block__desc {
  padding: 1em;
}

.side-block__title {
  margin: 0;
  padding: 1em;
  border-bottom: solid 1px #424242;
  font-size: 0.9rem;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.085em;
}

.side-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-list__item {
  padding: 0.8em 1em;
  &:not(:last-child) {
    border-bottom: solid 1px #424242;
  }
}

.side-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.side-list-item__date {
  font-size: 0.9em;
}

.header {
  padding: 1em 0;
  background-color: #ffd600;
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
}

.logo {
  display: flex;
  gap: 0.8em;
  text-decoration: none;
  color: inherit;
  line-height: 1em;
  color: #424242;

  &:hover {
    color: #424242;
  }
}

.logo__photo {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 100%;
}

.logo__name {
  font-size: 1.4rem;
  font-weight: 700;
}

.logo__desc {
  margin-top: 0.4em;
  font-style: italic;
  font-size: 1.1rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8em;
  line-height: 1em;
}

.menu__item_selected {
  font-weight: 700;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4em;
  padding: 1em 0;
}

.notes-block {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.error-404 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.error-404__picture {
  display: flex;
  justify-content: center;
}

.error-404__picture img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.error-404__go-to-main {
  margin-top: 2em;
}
