@import 'mixins';

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__footer {
  margin-top: auto;
}

.container {
  padding: 0 1em;
  @include media(lg) {
    max-width: 1400px;
    padding: 0 20rem 0 10rem;
    box-sizing: border-box;
  }
}
