@import 'mixins';

.main-page {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.main-about-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.main-join-section {
  text-align: center;
}

.main-socials-section {
  padding: 2em;
  text-align: center;
  border: solid 2px #ffff00;
  border-radius: 5px;
}

.socials {
  display: inline-flex;
  align-items: center;
  gap: 2em;
}

.socials__icon {
  width: 32px;
  height: 32px;
}

.main-thanks-section {
  text-align: center;
}

.main-materials-section {
  text-align: center;
}
