@import 'mixins';

.routes-page {
  display: flex;
  flex-direction: column;
  gap: 2em;
  @include media(lg) {
    flex-direction: row;
  }
}

.routes-page__column {
  @include media(lg) {
    flex: none;
    width: 50%;
  }
}

.routes-list {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.routes-item {
  padding: 0.5em;
  border: solid 1px #eeeeee;
}

.routes-item__summary {
  margin-top: 0.4em;
  font-size: 0.9rem;
  line-height: 1.4em;
  color: #757575;
}
